input {
  color: #fff;
  border: none;
  border-bottom: 2px solid rgba(235, 226, 226, 0.6);
  background-color: rgba(0, 0, 0, 0);
}

#name-input {
  background-color: rgba(0, 0, 0, 0.3);
  width: 180px;
  font-size: 20px;
  margin-bottom: 20px;
}

#todo-input {
  background-color: rgba(0, 0, 0, 0.3);
  width: 150px;
  font-size: 15px;
}

input::placeholder {
  color: #fff;
}

#login-form input:focus,
#todo-form input:focus {
  outline: none;
  border-color: white;
  transition: border-color 0.3s ease-in-out;
}
