@import 'input.css';
@import 'div.css';
@import 'widget.css';
@import 'img.css';
@import 'todo.css';

.hidden {
  display: none;
}

body {
  color: rgba(36, 30, 30, 0.973);
}

.scroll-x {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
