body {
  background-color: snow;
}

li {
  color: lightcoral;
}

input {
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  background-color: rgb(55, 55, 55);
  opacity: 0.8;
  color: snow;
}

input:hover {
  opacity: 1;
}
